$primary-$color0: #C33D2B;
$primary-$color1: #FF9587;
$primary-$color2: #DB6151;
$primary-$color3: #9D2414;
$primary-$color4: #740D00;

$secondary-$color1-0: #C3762B;
$secondary-$color1-1: #FFC387;
$secondary-$color1-2: #DB9651;
$secondary-$color1-3: #9D5814;
$secondary-$color1-4: #743A00;

$secondary-$color2-0: #1D6779;
$secondary-$color2-1: #57919F;
$secondary-$color2-2: #357887;
$secondary-$color2-3: #0F5261;
$secondary-$color2-4: #023B48;

$complement-$color0: #20923E;
$complement-$color1: #66BF7D;
$complement-$color2: #3DA358;
$complement-$color3: #0F752A;
$complement-$color4: #005717;

$text-color: #D0D0D0;
$text-background-color: #202020;
$background-color: #0A1010;