:local .list {
    position: fixed;
    right: 0;
    padding: 15px;
    z-index: 1;
    list-style-type: none;
    text-align: right;
}

:local .list-item {
    display: inline-block;
    text-align: left;
}

@mixin list-item-anim {
    animation-duration: 1s;
    animation-fill-mode: both;
}

:local(.list-item-enter-anim) {
    @include list-item-anim;
    animation-name: bounceInLeft;
}

:local(.list-item-leave-anim) {
    @include list-item-anim;
    animation-name: bounceOutRight;
}