@import "~common/styles/colors";

$gutter: 15px;
$enemy-color: $primary-color0;
$enemy-color-light: $primary-color1;
$enemy-color-dark: $primary-color4;
$ally-color: $complement-color0;
$ally-color-light: $complement-color1;
$ally-color-dark: $complement-color4;
$my-color: $secondary-color2-0;
$my-color-light: $secondary-color2-1;
$my-color-dark: $secondary-color2-4;