@import "~common/styles/colors";

:local(.health) {
    height: 8px;
    margin-bottom: 4px;
    border: 1px solid $complement-color4;
    box-shadow: none;
    background-color: $complement-color1;

    .progress-bar {
        box-shadow: none;
        background-color: $complement-color0;

        :local(.enemy) & {
            background-color: $primary-color0;
        }

        :local(.me) & {
            background-color: $secondary-color2-0;
        }
    }

    :local(.me) & {
        border-color: $secondary-color2-4;
        background-color: $secondary-color2-1;
    }

    :local(.enemy) & {
        border-color: $primary-color4;
        background-color: $primary-color1;
    }

    :local(.disabled) & {
        opacity: 0.5;
    }
}

:local .photo-btn {
    padding: 1px;
    outline: 0 !important;
    border-color: $secondary-color1-4 !important;
    background-color: $secondary-color1-2;

    &:hover,
    &:focus,
    &:active {
        background-color: $secondary-color1-3 !important;
    }

    :local .selected & {
        box-shadow: 0 0 8px 4px $secondary-color1-1;
    }
}

:local .dead {}

:local .dead-icon {
    fill: #FFFFFF;
}