@import "~common/styles/colors";
@import "~match/styles/common";

:local(.health) {
    height: 8px;
    margin-bottom: 4px;
    border: 1px solid $ally-color-dark;
    box-shadow: none;
    background-color: $ally-color-light;

    .progress-bar {
        box-shadow: none;
        background-color: $ally-color;

        :local(.enemy) & {
            background-color: $enemy-color;
        }

        :local(.me) & {
            background-color: $my-color;
        }
    }

    :local(.me) & {
        border-color: $my-color-dark;
        background-color: $my-color-light;
    }

    :local(.enemy) & {
        border-color: $enemy-color-dark;
        background-color: $enemy-color-light;
    }

    :local(.disabled) & {
        opacity: 0.5;
    }
}

:local .photo-btn {
    padding: 1px;
    outline: 0 !important;
    border-color: $secondary-color1-4 !important;
    background-color: $secondary-color1-2;

    &:hover,
    &:focus,
    &:active {
        background-color: $secondary-color1-3 !important;
    }

    :local .selected & {
        box-shadow: 0 0 8px 4px $secondary-color1-1;
    }
}

:local .dead {}

:local .dead-icon {
    fill: #FFFFFF;
}

:local(.health-change-anim) {
    animation-name: jello;
    animation-duration: 1s;
    animation-fill-mode: both;
}