@import "~common/styles/colors";

$selected-color: $secondary-color1-1;

:local(.health) {
    &.progress {
        height: 8px;
        margin-bottom: 4px;
        border: 1px solid $complement-color4;
        box-shadow: none;
        background-color: $complement-color1;
    }

    .progress-bar {
        box-shadow: none;
        background-color: $complement-color0;
    }
}

:local .photo {
    box-sizing: content-box;
    border: 1px solid $border-color;
    cursor: pointer;

    &:hover {
        border-color: $selected-color;
    }

    :local .selected & {
        box-shadow: 0 0 8px 2px $selected-color;
    }

    :local .disabled & {
        cursor: not-allowed;
    }
}

:local(.enemy) {
    .progress {
        border-color: $primary-color4;
        background-color: $primary-color1;
    }

    .progress-bar {
        background-color: $primary-color0;
    }
}

:local .disabled:not(.dead) {
    opacity: 0.5;
}

:local .dead {}

:local .dead-icon {
    fill: #FFFFFF;
}