@import "~match/styles/common";

:local .wrapper {
    display: inline-block;
    margin-left: $gutter;
    vertical-align: top;
}

:local .list {
    padding: 0;
    margin-bottom: $gutter;
    text-align: center;
}