@import "~common/styles/colors";

:local .wrapper {
    text-align: center;
}

:local .header {
    font-weight: bold;
}

:local .body {
    margin-top: 8px;
}

:local .team-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

:local .team-logo {
    height: 64px;
    min-width: 64px;
    display: inline-block;

    &:not([src]) {
        border: 1px solid $border-color;
    }
}
