@import "~common/styles/colors";
@import "~match/styles/common";

:local .wrapper {
    padding-top: $gutter;
    padding-bottom: $gutter;
}

:local .character-bar {
    text-align: center;
}

:local .i-dead-msg {
    margin-bottom: $gutter;
    color: $primary-color0;
}