@import "~common/styles/colors";

:local(.wrapper) .modal-dialog {
    max-width: 300px;
}

:local .list-item {
    background-color: $primary-color0 !important;

    &:hover,
    &:focus,
    &:active {
        background-color: $primary-color3 !important;
    }
}