@import "~common/styles/colors";
@import "~match/styles/common";

:local .wrapper {
    text-align: center;
}

:local .well {
    display: inline-block;
    margin-bottom: $gutter;
}

:local(.team-score) {
    margin: 0 8px;
    border: 1px solid $border-color;
    color: $text-color;
    background-color: $ally-color;

    :local(.enemy) & {
        background-color: $enemy-color;
    }
}

:local(.team-logo) {
    display: inline-block;
    height: 32px;
    min-width: 32px;

    &:not([src]) {
        border: 1px solid $border-color;
    }
}

:local(.team-score-change-anim) {
    animation-name: rotateIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}
