@import "~common/styles/colors";

$background-color: $secondary-color1-0;

:local .wrapper {
    width: 64px;
    height: 64px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle !important;
    background-color: $background-color;

    &:hover,
    &:focus {
        background-color: $primary-color0;
    }
}

:local .disabled {
    cursor: default;
    transition: background-color 0.5s;
    background-color: $background-color;

    &:hover,
    &:focus {
        background-color: $background-color;
    }
}