@import "~common/styles/colors";
@import "~match/styles/common";

:local(.wrapper) {
    text-align: center;
    background-color: $ally-color;

    .arrow:after {
        border-bottom-color: $ally-color !important;
    }

    &:local(.enemy) {
        background-color: $enemy-color;

        .arrow:after {
            border-bottom-color: $enemy-color !important;
        }
    }
}

:local .photo-img {
    box-sizing: content-box;
    max-width: 128px;
    max-height: 128px;
    border: 1px solid $border-color;
}

:local .country-img {
    margin-right: 8px;
    border: 1px solid $text-background-color;
    border-radius: 50%;
    background-color: $text-background-color;
}